<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="Layout">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<title>Rehena</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.standalone.min.css">
	<script src="https://kit.fontawesome.com/f74c7b4a9f.js" crossorigin="anonymous"></script>
</head>
	<header>
		<img class="logo"src="/img/logo.png" width="93px" height="106.66px">
			<nav class="navbar navbar-defaut navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header"></div>
				</div>		
				<ul class="nav nav-tabs">
					<li role="presentation"><a href="/home">Home</a></li>
					<li role="presentation"><a href="/casadeshow">Casas de Show</a></li>
					<li role="presentation"><a href="/eventos">Eventos</a></li>
					<li role="presentation"><a href="/historico">Histórico</a></li>
				</ul>
				<div class = "form-group">
					<div class="col-sm-offset-3 col-sn-10">
						<button type = "button"  style="position:absolute;left:63%;top:18%;" onclick="window.location.href='/Usuarios/novo'" class="btn btn-primary">CADASTRAR</button>
						<button type = "button"  style="position:absolute;left:70%;top:18%;" onclick="window.location.href='/login'" class="btn btn-primary">LOGIN</button>
					</div>	
				</div>
			</nav>
	</header>
	<form class="form-horizontal" method="POST">
		<div class="panel panel-evento panel-defaut">
			<div class="panel heading">
				<div class="clearfix">
					<h3 style="padding-top: 1%; padding-bottom: 1%;" class="panel-title panel-evento" align="center">REHENA - Home</h3>
				</div>
			</div>
			<div class="panel-body">
				<div class="card" th:each="evento : ${eventos}">
					<h2 class="card-title" style="font-size: 400%;" align="center" th:text="${evento.Nomeevento}"></h2>
					<h5 class="text-center" style="font-size: 150%;" th:text="|Detalhes: ${evento.descr}|"></h5>
					<h4 class="text-center" th:text="|Ingressos disponiveis: ${evento.ingressosd}|"></h4>
					<h4 class="text-center" th:if="${evento.grat}"  th:text="|R$: ${evento.preco}|"></h4>
					<h5 class="text-center" style="font-size: 120%;" th:text="|Data do evento : ${{evento.data}}|"></h5>
					<h5 class="text-center" style="font-size: 150%;" th:text="|Local: ${evento.local.nome}|"></h5>
					<h5 class="text-center" style="font-size: 150%;" th:text="|Endereço: ${evento.local.end}|"></h5>
					<h4 class="text-center" th:unless="${evento.grat}">Gratuito</h4>
					<h3 class="input-append spinner text-center" data-trigger="spinner">Qtd do Pedido: <input type="number" name="ning" value="1" min="1" max="10" step="1"/> ingressos</h3>
					<div class = "text-center">
						<button class="btn btn-primary btn-md" type="submit" style="margin:5px;" th:href="@{/compra/{id}(id=${evento.id})}">Comprar</button>
					</div>			
				</div>
			</div>		
		</div>
	</form>
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/eventos.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
	<script src="/js/jquery.maskMoney.min.js"></script>	
</html>