<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="Layout">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<title>Rehena</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.standalone.min.css">
	<script src="https://kit.fontawesome.com/f74c7b4a9f.js" crossorigin="anonymous"></script>
</head>

	<header>
		<img class="logo"src="/img/logo.png" width="93px" height="106.66px">
			<nav class="navbar navbar-defaut navbar-static-top">
				<div class="container-fluid">
					<div class="navbar-header"></div>
				</div>		
				<ul class="nav nav-tabs">
					<li role="presentation"><a href="/home">Home</a></li>
					<li role="presentation"><a href="/casadeshow">Casas de Show</a></li>
					<li role="presentation"><a href="/eventos">Eventos</a></li>
					<li role="presentation"><a href="/historico">Histórico</a></li>
				</ul>
				<div class = "form-group">
					<div class="col-sm-offset-3 col-sn-10">
						<button type = "button"  style="position:absolute;left:63%;top:18%;" onclick="window.location.href='/Usuarios/novo'" class="btn btn-primary">CADASTRAR</button>
						<button type = "button"  style="position:absolute;left:70%;top:18%;" onclick="window.location.href='/login'" class="btn btn-primary">LOGIN</button>
					</div>
				</div>
			</nav>
	</header>

<form action="/eventos" method="POST" th:object="${evento}">
		<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
			<span>Evento alterado com sucesso!</span>			
		</div>

		<div class = "form-horizontal">
			<div class="panel-heading">
				<h3>CADASTRO DE EVENTO</h3>
			</div>
			<div class="text-center alert alert-danger" th:if="${#lists.isEmpty(casas)}">PARA CADASTRAR UM EVENTO, CADASTRE UMA CASA DE SHOW ANTES !</div>
			<div th:unless="${#lists.isEmpty(casas)}">
				<div class="panel-body">
					<input type="hidden" th:field="*{id}"/>
						
					<div class="form-group"  th:classappend="${#fields.hasErrors('Nome')} ? has-error">							
						<label for="Nome" class="col-sm-5 control-label">NOME DO EVENTO</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{Nome}" />
						</div>
					</div>
					<div class="form-group"  th:classappend="${#fields.hasErrors('descr')} ? has-error">
				        <div class="input-group-prepend">
							<label for="Nome" class="col-sm-5 control-label">DESCRIÇAO</label>
						</div>
						  <textarea class="form-group" th:field="*{descr}" aria-label="textarea" style="margin-left:2%;max-width:480px;max-height:300px;width:480px;min-width:480px;min-height:100px;"></textarea>	
					</div>
			    </div>
				<div class="form-group"  th:classappend="${#fields.hasErrors('talento')} ? has-error">
					<label for="talento" class="col-sm-5 control-label">ATRAÇAO</label>
					<div class="col-sm-8">
						<input type="text" class="form-control"  th:field="*{talento}" />
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('preco')} ? has-error">
					<div class="input-group-prepend">
						<label for="peco" class="descbar col-sm-5 control-label">VALOR DO INGRESSO</label>
					</div>
					<div class="col-sm-8" style="margin-left:-4%;">	
						<div class="input-group">
						  <span class="input-group-addon">$</span>
						  <input type="text" class="form-control" placeholder="Valor em 0 sera considerado gratuito" th:field="*{preco}" aria-label="Amount (to the nearest dollar)">
						  <span class="input-group-addon">.00</span>
						</div>
					</div>
				</div>
				<div class="form-group"  th:classappend="${#fields.hasErrors('ingressos')} ? has-error">
					<label for="ingressos" class="col-sm-5 control-label">NUMERO DE INGRESSOS</label>
					<div class="col-sm-8">
						<input type="text" class="form-control"  name="ingressos"/>
					</div>
				</div>
				<div class="form-group"  th:classappend="${#fields.hasErrors('data')} ? has-error">
					<label for="text" class="col-sm-5 control-label">DATA</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="data" autocomplete="off" th:field="*{data}"	data-provide="datepicker" data-date-format="dd/mm/yyyy"	data-date-language="pt-BR" data-date-autoclose="true" data-date-today-highlight="true"/>
					</div>
				</div>
				<div class = "form-group">
					<div class="col-sm-offset-3 col-sn-10">
						<button type = "submit" style="margin-left:70%;" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center col-md-1">ID</th>
					<th class="text-center col-md-3">Nome</th>
					<th class="text-center col-md-3">Banda</th>
					<th class="text-center col-md-1">Local</th>
					<th>Organizador</th>
					<th>Valor</th>
					<th class="text-center col-md-1">Data do Evento</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each=" evento : ${eventos}">
					<td class="text-center" th:text="${evento.Id}">1</td>
					<td class="text-center" th:text="${evento.Nomeevento}"></td>
					<td th:text="${evento.talento}"></td>
					<td th:text="${evento.Local.nome}"></td>
					<td th:text="${evento.organizador}"></td>
					<td th:text="|R$: ${evento.preco}|"></td>
					<td class="text-center" th:text="${#dates.format(evento.data, 'dd-MMM-yyyy')}"></td>						
				</tr>
				<tr>
					<td th:if="${#lists.isEmpty(eventos)}"colspan="7">Nenhum usuario encontrado</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/eventos.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
	<script src="/js/jquery.maskMoney.min.js"></script>	
</html>